/*.btn{
    width:75px;
}*/
.imageThumbnail {
    height: 200px;
    width: auto;
}

.table-img.imageThumbnail {
    height: 50px;
    width: 50px;
    object-fit: cover;
    display: block;
    border-radius: 10%;
}